//Almoni
@font-face{
  font-family:'almoni';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-300.eot');
  src: url('fonts/almoni/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-300.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-400.eot');
  src: url('fonts/almoni/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-400.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-700.eot');
  src: url('fonts/almoni/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-700.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-700.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-900.eot');
  src: url('fonts/almoni/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-900.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-900.woff') format('woff');
}
//Almoni-tzar
@font-face{
  font-family:'almoni-tzar';
  font-weight:100; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:200; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.woff') format('woff');
}
//Assistant
@font-face{
  font-family:'Assistant';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Light.ttf') format('truetype');

}
@font-face{
  font-family:'Assistant';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-SemiBold.ttf') format('truetype');
}
//Heebo
@font-face{
  font-family:'heebo';
  font-weight:100; /*(thin)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Thin.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight: 200; /*(extralight)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-ExtraLight.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Light.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:500; /*(regular)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:600; /*(semibold)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:800; /*(extrabold)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-ExtraBold.ttf') format('truetype');
}
@font-face{
  font-family:'heebo';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/Heebo/Heebo-Light.ttf') format('truetype');
}
//Rubik
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
//Gveret
@font-face{
  font-family:'Gveret';
  font-weight: 400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Gveret/GveretLevinAlefAlefAlef-Regular.ttf') format('truetype');
}
