div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 select {
  -webkit-appearance: none;
  @include input-style;
  background-image: url("../iconsall/form-select-blue.png");
  background-position: size(20) center;
  background-repeat: no-repeat;
  padding-right: size(23);
  background-size: size(19);
  cursor: pointer;
}
.main-contact-form {
  div.wpcf7 select {
	background-size: size(42) auto;
  }
}
div.wpcf7 textarea {
  height: size(203);
  padding-top: 12px;
}
div.wpcf7 input[type="submit"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(32);
  background-image: url("../iconsall/form-submit.png");
  color: #ffffff;
  font-size: size(24);
  line-height: size(24);
  font-weight: 300;
  text-align: center;
  background-position: 7px center;
  background-repeat: no-repeat;
  background-size: size(47);
  padding-left: size(62);
  background-color: $blue-main;
}
.contact-form {
  div.wpcf7 input[type="submit"] {
	font-family: $rubik;
	font-size: size(38);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(40);
	background-image: url("../iconsall/form-submit-dark.png");
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: #292a2c;
  }
}
.file-input {
  display: none;
}
div.wpcf7 input[type="file"] {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include input-style;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  background-image: url("../iconsall/form-file.png");
  text-align: right;
  margin-bottom: 10px;
}
