.fixed-socials {
  position: fixed;
  left: 1%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 222;
}
.fix-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(41);
  height: size(41);
  background-color: #292323;
  padding: size(15);
  margin-bottom: size(15);
  border-radius: 50%;
  transition: background-color .5s;
  &:hover {
	background-color: $blue-main;
	transition: background-color .5s;
  }
  .fab, .fas {
	color: #ffffff;
	font-size: size(25);
  }
}
.pop-trigger {
  position: relative;
  cursor: pointer;
  z-index: 99999;
}
.foo-form-text {
  @include base-title;
  color: #292725;
  font-weight: 400;
  text-align: center;
}
.pop-form {
  position: fixed;
  right: 0;
  top: 18%;
  width: calc(100% - 3rem);
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-popup {
	overflow-y: scroll;
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .logo {
	margin-bottom: size(45);
  }
}
.pop-form-subtitle,
.pop-form-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.pop-form-title {
  font-size: size(40);
  line-height: size(42);
}
.pop-form-subtitle {
  font-size: size(28);
  line-height: size(32);
}
.float-form {
  position: relative;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(40) 10%;
  background-color: $blue-main;
  &.show-float-form {
	opacity: 1;
	transform: translateX(0);
  }
  .logo {
	margin-bottom: size(15);
	img {
	  max-height: size(100);
	}
  }
}
//Header
//.header-tel {
//  @include d-center;
//  flex-direction: column;
//  border-radius: 0 0 size(35) size(35);
//  background-color: $blue-main;
//  color: #ffffff;
//  text-align: center;
//  margin-top: -0.75rem;
//  padding: size(15) size(40);
//  &:hover {
//	.tel-number, .tel-text {
//	  color: #ffffff;
//	  transition: color .5s;
//	}
//  }
//}
.tel-number {
  font-size: size(30);
  line-height: size(32);
  font-weight: 700;
  font-family: $almoni-tzar;
  transition: color .5s;
}
.tel-text {
  font-size: size(18);
  line-height: size(20);
  font-weight: 500;
  transition: color .5s;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}




footer {
  display: flex;
  flex-direction: column;
}
h3.foo-title {
  color: $foo-text;
  font-size: size(23);
  line-height: size(25);
  font-weight: 400;
  margin-bottom: size(10);
}
.footer-container-menu {
  margin-top: size(90);
  li {
	position: relative;
	a {
	  display: flex;
	  align-items: center;
	  color: $foo-text;
	  font-size: size(16);
	  font-weight: 400;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(18);
	  margin-bottom: 0.5rem;
	}
	a:hover {
	  color: $blue-title;
	  cursor: pointer;
	  transition: all .5s;
	}
  }
}
.menu-border-top {
  position: relative;
  padding-top: 0.5rem;
  border-top: 2px solid $blue-main;
  &:before {
	content: '';
	display: block;
	background-color: $blue-main;
	height: 3px;
	position: absolute;
	top: -2.5px;
	right: 0;
	width: 40%;
  }
}
.footer-main {
  position: relative;
  background-color: #faf8f8;
  padding-top: size(120);
}
.foo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foo-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-main;
  padding: 1rem;
  width: size(106);
  height: size(106);
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: background-color .5s;
  img {
	max-height: 98%;
  }
}
.foo-links-container {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.foo-link-title, .foo-link-subtitle {
  color: $foo-text;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.foo-link-title {
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
  margin-bottom: size(15);
}
.foo-link-subtitle {
  @include small-text;
}
#go-top {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
.top-arrow-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(103);
  height: size(103);
  border-radius: 50%;
  background-color: $green-main;
  border: 1px solid #ffffff;
  img {
	position: absolute;
	width: size(60);
	top: 1.25rem;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-button-text {
  margin-top: 1rem;
  color: $foo-text;
  font-size: size(21);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  text-align: center;
}
.foo-form-text {
  * {
	color: #ffffff;
	text-align: center;
  }
  h1, h2 {
	font-size: size(42);
	line-height: size(44);
	font-weight: 400;
  }
  margin-bottom: size(35);
}
//Fixed more
.fix-wrap-col {
  position: fixed;
  right: 0;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}
.fix-wrap-item {
  @include d-center;
  width: size(84);
  height: size(84);
  padding: 9px 7px 9px 11px;
  box-shadow: -3px 1px 19px 2px rgba(43, 40, 40, 0.33);
  border-radius: size(42) 0 0 size(42);
  background-color: #ffffff;
  margin-bottom: size(28);
}
.inside-circle-img {
  width: size(66);
}


@keyframes twinkle {
  0% {
	transform: translate(0px, 0px);
  }
  30% {
	opacity: 0;
  }
  50% {
	opacity: 0.75;
  }
  70% {
	opacity: 0;
  }
  100% {
	transform: translate(175px, 100px);
  }
}

@keyframes float {
  0% {
	transform: translate(0px, 0px);
  }
  100% {
	transform: translate(8000px, 4000px);
  }
}

.top-nav-container {
  height: 93px;
  background: #fff;
  max-width: 100%;
}

.mega-menu-btn {
  height: 37px;
  border-radius: size(24);
  background-color: $blue-main;
  display: flex;
  align-items: center;
  font-family: $rubik;
  padding: 5px size(38);
  .menu-btn-txt {
	color: #fff;
	font-size: size(20);
	font-weight: 300;
	font-family: $rubik;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	width: 20px;
	height: 2px;
	background-color: #fff !important;
	margin-left: size(35);
  }

  .hamburger-inner:before {
	top: -6px;
  }

  .hamburger-inner:after {
	top: -12px;
	bottom: 0;
  }

  .hamburger-box {
	height: 15px;
  }

  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
	background-color: #fff !important;
  }

  &.is-active {
	.hamburger-box {
	  position: relative;
	  top: 3px;
	}
  }
}

#search-btn {
  width: 36px;
  height: 36px;
  background-color: $blue-main;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  margin-right: 10px;

  svg {
	width: 20px;
	height: 20px;
	fill: #fff;
  }
}

.header-btn {
  display: block;
  margin: 0 8px;
  position: relative;

  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 19px;
	height: 19px;
	border: 1px solid $blue-main;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $blue-main;
	font-size: 10px;
	background-color: #fff;
	border-radius: 50%;
  }

  svg {
	width: 36px;
	height: 36px;
	fill: $blue-main;
  }

  &:last-child {
	margin-left: 0;
  }
}

.menu-bar {
  box-sizing: border-box;
  height: 50px;
  background: grey;
  padding: 16px 10px;

  .menu-button {
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
  }
}

.mega-menu {
  position: fixed;
  top: 147px;
  width: 100%;
  display: none;
  height: calc(100vh - 147px);
  z-index: 99999999;
  background-color: transparent;

  .menu-background, .menu-foreground {
	position: absolute;
	width: 100%;
	height: 100%;
  }

  .menu-background {
	display: flex;
	flex-wrap: wrap;
	background: transparent;
	z-index: 0;

	.tile {
	  width: 50%;
	  height: 25%;
	  box-sizing: border-box;
	  background: #fff;

	  transform: scale(0);
	  animation-name: tile;
	  animation-iteration-count: 1;
	  animation-fill-mode: forwards;

	  // variation 1
	  animation-duration: 1s;
	  &:nth-child(4n+1) , &:nth-child(4n+4) {
	  }
	  &:nth-child(4n+2), &:nth-child(4n+3){
		animation-delay: .2s;
	  }

	  // variation 2
	  //&:nth-child(4n+1) {
	  //animation-duration: 1s;
	  //}
	  //
	  //&:nth-child(4n+4) {
	  //animation-duration: .6s;
	  //animation-delay: .4s;
	  //}
	  //
	  //&:nth-child(4n+2), &:nth-child(4n+3) {
	  //animation-delay: .2s;
	  //animation-duration: .8s;
	  //}
	}
  }

  .menu-foreground {
	opacity: 0;
	animation-name: make-visible;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
	padding-right: 5%;
	padding-left: 5%;
  }

  &.show {
	display: block;
  }
}

@keyframes make-visible {
  to {
	opacity: 1;
  }
}

@keyframes tile {
  to {
	transform: scale(1);
  }
}

@keyframes list-item {
  to {
	opacity: 1;
	transform: translateY(0%);
  }
}
#close-menu{
  background: transparent;
  border: none;
  svg{
	fill: $blue-main;
	width: 40px;
	height: 40px;
  }
}
.mega-menu{
  .mega-top{
	margin-bottom: size(90);
	ul{
	  display: flex;
	  justify-content: flex-end;
	  li{
		margin: 0 12px;
		a{
		  height: size(52);
		  border-radius: 23px;
		  background-color: $blue-title;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  padding: 0 35px;
		  text-align: center;
		  font-size: size(20);
		  line-height: size(22);
		  color: #fff;
		  transition: background-color .5s;
		  &:hover{
			background-color: $green-main;
			transition: background-color .5s;
		  }
		}
	  }
	}
  }
  .mega-right{
	border-left: 1px solid $black;
	ul{
	  columns: 2;
	  -webkit-column-gap: 2em;
	  -moz-column-gap: 2em;
	  column-gap: 2em;
	  li{
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		margin-bottom: 15px;
		a{
		  font-size: size(20);
		  color: $black;
		}
	  }
	}
  }
  .mega-left{
	ul{
	  display: flex;
	  flex-wrap: wrap;
	  li{
		width: 25%;
		margin-bottom: 50px;
		a{
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  width: 100%;
		  height: 100%;
		  position: relative;
		  .menu-product-title{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			padding: 10px;
			text-align: center;
			color: $black;
			font-size: 14px;
			opacity: 0;
			transition: opacity .5s;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba( 255, 255, 255, 0.80 );
			box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
			backdrop-filter: blur( 5.5px );
			-webkit-backdrop-filter: blur( 5.5px );
			border-radius: 10px;
			border: 1px solid rgba( 255, 255, 255, 0.18 );
		  }
		  img {
			width: 130px;
			height: 130px;
			overflow: hidden;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: -4px -3px 16px rgba(0, 0, 0, 0.1);
			padding: 15px;
		  }
		  &:hover{
			.menu-product-title{
			  opacity: 1;
			}
		  }
		}
	  }
	}
  }
}
.search-wrap{
  position: fixed;
  top: 58px;
  width: 100%;
  height: calc(100vh - 58px);
  z-index: 9999;
  background-color: #fff;
  transition: opacity .5s;
  opacity: 0;
  pointer-events: none;
  padding: 40px;
  overflow-y: auto;
  &.show-search{
	opacity: 1;
	pointer-events: all;
  }
  #search-close{
	background-color: transparent;
	border: none;
	svg{
	  fill: $blue-main;
	  width: 40px;
	  height: 40px;
	}
  }
  form{
	margin-right: 20px;
	flex: auto;
	position: relative;
	::placeholder{
	  color: $black;
	  opacity: .5;
	  font-weight: 400;
	  padding-right: 5px;
	}
	input{
	  border-bottom: 2px solid $black;
	  width: 100%;
	  height: 60px;
	  padding: 5px;
	}
	button{
	  position: absolute;
	  width: 40px;
	  height: 60px;
	  background: transparent;
	  border: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  left: 0;
	  top: 0;
	}
	svg * {
	  fill: $blue-title !important;
	}
  }
}
header {
  box-shadow: -20px 1px 16px 4px rgba(43, 40, 40, 0.2);
  background-color: #fff;
  z-index: 99999;
  position: relative;
}
.product-small-card{
  box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.2);
  border-radius: size(35);
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 30px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow .5s;
  &:hover{
	box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.8);
  }
  .in-wishlist{
	position: absolute;
	right: 25px;
	top: 13px;
	svg{
	  width: 29px;
	  height: 26px;
	  fill: $blue-main;
	}
  }
  a{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
  }
  picture{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
  }
  .woocommerce-loop-product__title{
	text-align: center;
	font-size: size(23);
	color: #000;
	min-height: size(56);
	margin-top: 30px;
	font-weight: 300;
	padding-bottom: 20px;
	border-bottom: 2px solid #b7b7b7;
  }
  .onsale{
	display: none;
	//position: absolute;
	//left: 15px;
	//top: 3px;
	//max-width: 80px;
	//max-height: 100px;
	//picture{
	//  height: auto;
	//  img{
	//	max-width: 100%;
	//	height: auto;
	//  }
	//}
  }
}
.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  min-height: 60px;
  margin-bottom: 30px;
  del{
	span{
	  line-height: 1;
	  color: #959595;
	  font-size: size(15) !important;
	}
  }
  ins{
	text-decoration: none;
	span{
	  line-height: 1;
	  color: #373637;
	  font-size: size(19) !important;
	  font-family: $rubik;
	  font-weight: 700;
	}
  }
}
.add-to-cart-wrap {
  display: flex;
  justify-content: space-between;
  .qty-wrap,
  .btn-wrap{
	width: calc(50% - 2px);
  }
  .btn-wrap{
	button{
	  height: 41px;
	  border-radius: size(21) !important;
	  display: flex;
	  position: relative;
	  align-items: center;
	  justify-content: center;
	  color: #fff !important;
	  font-size: size(18) !important;
	  font-weight: 500;
	  font-family: $rubik;
	  background-color: $blue-main !important;
	  width: 100%;
	  border: none;
	}
  }
}
.qty-wrap{
  height: 41px;
  border-radius: 21px;
  border: 1px solid #959595;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  input{
	width: 50px;
	height: 40px;
	text-align: center;
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
  }
  .plus, .minus{
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: #000;
	transition: all .5s;
	&:hover{
	  background-color: $blue-main;
	  color: #fff;
	}
  }
}
.search-query-result{
  margin-top: 50px;
}
.header-is-sticky{
  .mega-menu{
	top: 58px;
  }
}
.sticky.fixed{
  box-shadow: -20px 1px 16px 4px rgba(43, 40, 40, 0.2);
}
.flash-msg-wrap {
  padding: 15px 0;
  height: 54px;
  background: $blue-main;
  .flash-msg-slider {
	.single-msg, a {
	  color: #f0f0f0;
	  font-family: $rubik;
	  font-size: size(18);
	  font-weight: 300;
	  text-align: center;
	}
  }
  .slick-next:before,
  .slick-prev:before {
	width: 6px;
	height: 12px;
	display: block;
	content: '';
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  }
  .slick-prev:before {
	background-image: url(../iconsall/arr-news-right.png);
  }
  .slick-next:before {
	background-image: url(../iconsall/arr-news-left.png);
  }
}
.header-tel {
  color: #ffffff;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}
.tel-col {
  display: flex;
  justify-content: flex-end;
}
.header-tel-fixed {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99999;
  animation: jump 1.2s ease-in-out alternate infinite;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
}
