.top-navigation-menu{
  ul{
	display: flex;
	a{
	  text-align: center;
	  direction: rtl;
	  padding: size(10) size(20);
	  white-space: nowrap;
	  display: block;
	  width: 100%;
	  color: #000;
	}
	li{
	  position: relative;
	  &.menu-item-has-children{
		position: relative;
		.fa-chevron-down{
		  position: absolute;
		  left: 0;
		  top: 0;
		  height: 100%;
		  padding: size(10) 0;
		  display: flex;
		  align-items: center;
		  font-size: size(15);
		}
		.sub-menu{
		  position: absolute;
		  top: 100%;
		  right: 0;
		  display: flex;
		  flex-direction: column;
		  opacity: 0;
		  pointer-events: none;
		  transition: opacity .5s;
		}
		&:hover{
		  .sub-menu{
			opacity: 1;
			pointer-events: all;
			z-index: 99999;
			background: #fff;
		  }
		}
	  }
	}
  }
}
