// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin input-text {
  color: #292a2c;
  font-size: size(22);
  line-height: size(28);
  font-weight: 400;
}
@mixin input-style {
  padding-right: size(63);
  height: size(67);
  box-shadow: 0 0 57px rgba(0, 0, 0, 0.15);
  border-radius: size(33);
  background-color: #ffffff;
  background-position: calc(100% - 12px) center;
  background-size: size(42) auto;
  background-repeat: no-repeat;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@mixin mid-text {
  font-size: size(38);
  line-height: size(40);
}
@mixin base-title {
  font-size: size(48);
  line-height: size(50);
}
@mixin base-text {
  font-size: size(22);
  line-height: size(30);
  font-weight: 300;
}
@mixin small-text {
  font-size: size(15);
  line-height: size(30);
  font-weight: 300;
}
@mixin product-image {
  background-size: auto 90%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.06);
  background-color: #aeacac;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
