.single-product-header{
  background-color: #f8f8f8;
  padding: size(30) 0;
  .product-cat-title{
	text-align: right;
	color: $blue-title;
	font-family: $rubik;
	font-size: size(36);
	font-weight: 700;
	margin-bottom: 18px;
  }
}
.single-product-breadcrumbs,
#breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  a, span{
	color: #252525;
	font-family: $rubik;
	font-size: size(18);
	font-weight: 400;
	padding: 0 10px;
	&:first-child{
	  padding-right: 0;
	}
	&:last-child{
	  padding-left: 0;
	}
  }
}
.product-summary{
  padding-top: size(35);
  .product-brand{
	color: #000000;
	font-family: $rubik;
	font-size: size(16);
	font-weight: 300;
	line-height: 1.2;
	text-align: right;
	margin-bottom: 30px;
  }
  .product_title{
	color: $blue-title;
	font-family: $rubik;
	font-size: size(36);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(40);
	margin-bottom: 15px;
  }
  .item-price-per-100{
	text-align: right;
	color: #222222;
	font-family: $rubik;
	font-size: size(16);
	font-weight: 300;
	margin-bottom: 15px;
  }
  .price{
	align-items: flex-start;
  }
  .act-price{
	bdi{
	  span{
		font-size: size(36);
	  }
	}
  }
  .qty-wrap{
	width: 130px;
	margin: 0 8px;
  }
  .single_add_to_cart_button{
	width: 300px;
	height: size(50) !important;
	border-radius: size(25) !important;
	margin-top: 1rem !important;
	display: flex!important;
	align-items: center;
	justify-content: center;
	background-color: $blue-title !important;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	transition: box-shadow .5s;
	&:hover{
	  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
	}
	svg{
	  position: relative;
	  width: 29px;
	  height: 27px;
	  fill: #fff;
	  margin-right: 20px;
	}
	span{
	  color: #ffffff;
	  font-family: $rubik;
	  font-size: size(21);
	  line-height: size(20);
	  font-weight: 500;
	}
  }
  .yith-wcwl-add-to-wishlist{
	margin-top: 0;
	a{
	  width: 59px;
	  height: 41px;
	  background-color: #ffffff!important;
	  display: flex!important;
	  padding: 0;
	  align-items: center;
	  justify-content: center;
	  i{
		color: $blue-main !important;
		margin: 0!important;
	  }
	}
  }
}
.item-wishlist{
  width: 59px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid #acacac;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
	width: 30px;
	height: 30px;
	fill: $blue-title;
  }
}
.pink-color{
  color: $green-main !important;
}
.yith-wcwl-wishlistaddedbrowse{
  display: flex;
  a{
	width: auto!important;
	white-space: nowrap;
	border: none;
	font-size: 13px;
	color: $blue-main;
	font-family: $rubik;
	padding: 0 5px!important;
  }
  .feedback{
	font-size: 0;
	width: 59px;
	height: 41px;
	border-radius: 5px;
	border: 1px solid #acacac;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	i{
	  color: $blue-main;
	  font-size: 27px!important;
	}
  }
}
.product-gallery{
  .slick-current{
	.thumb-item{
	}
  }
  .slider-item{
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	img {
	  width: 100%;
	}
  }
  .thumbs{
	width: 20%;
	.thumb-item{
	  height: 120px;
	  padding: 10px;
	  border-radius: 5px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  .play-overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	  picture{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		margin: 0;
		img{
		  max-height: 90%;
		}
	  }
	}
  }
  .gallery-slider{
	width: 80%;
  }
}
#video-holder{
  iframe{
	width: 100%;
	height: 400px;
	border: none;
  }
}
.product-item-categories{
  margin: size(50) 0;
  .cat-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.cat__icon{
	  width: 48px;
	  height: 48px;
	  background: #000;
	  border-radius: 50%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  svg{
		max-height: 70%;
		fill: #fff;
	  }
	}
	.cat__title{
	  color: #373637;
	  font-family: $rubik;
	  font-size: 18px;
	  font-weight: 300;
	  margin-top: 16px;
	  margin-bottom: 0;
	  p{
		text-align: center;
	  }
	  strong{
		font-weight: 700;
	  }
	}
  }
}
.product-item-info{
  .card{
	border: none;
  }
  .card-header{
	padding: 0;
	background: #fff;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid;
  }
  h5{
	text-align: right;
	position: relative;
	button{
	  display: block;
	  width: 100%;
	  text-align: right;
	  color: #000000;
	  font-family: $rubik;
	  font-size: size(18);
	  font-weight: 300;
	  padding: 18px 5px;
	  border: none;
	  &:hover{
		color: #000;
	  }
	}
	&:after{
	  content: '+';
	  font-weight: 300;
	  font-family: $rubik;
	  font-size: 30px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 100%;
	  display: flex;
	  align-items: center;
	}
  }
  .card{
	&.active{
	  h5{
		&:after{
		  content: '-';
		}
	  }
	}
  }
}
.related-products-col{
  margin-top: 55px;
  .related-slider-nav{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	.sl-nav{
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  border: 2px solid;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
	  margin: 0 3px;
	  svg{
		width: 24px;
	  }
	}
  }
}
.product-slider-partial{
  .product-small-card .woocommerce-loop-product__title{
	font-size: size(20);
  }
  .single_add_to_cart_button{
	padding: 0!important;
	border-radius: size(25);
	margin-top: 1rem;
  }
}
.wishlist_table.mobile li .additional-info-wrapper .move-to-another-wishlist, .wishlist_table.mobile li .additional-info-wrapper .product-add-to-cart {
  //display: flex;
}
.yith_wcwl_wishlist_footer .yith-wcwl-share {
  float: unset !important;
}
.woocommerce div.product form.cart {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper-product-wish {
  display: flex;
  align-items: stretch;
  .yith-wcwl-add-to-wishlist{
	margin-right: 15px;
  }
}
.related-slider {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
	align-items: stretch;
  }
  .slick-slide div:first-child, .slide-item {
	height: 100%;
  }
}
.related-products-title {
  color: $blue-title;
  font-size: size(42);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(43);
  text-align: center;
}
.related-products-text {
  color: #303436;
  font-size: size(34);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(38);
  text-align: center;
  margin-bottom: size(50);
}
.prod-slider-image {
  position: relative;
  display: flex;
  @include back-img;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 65%;
  }
}
.overlay-slide {
  @include overlay;
  @include d-center;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.prod-slide-title, .prod-slide-text {
  color: #ffffff;
  font-family: $rubik;
  text-align: center;
}
.prod-slide-title {
  font-size: size(55);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
}
.prod-slide-text {
  font-size: size(20);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  margin-bottom: 20px;
}
.prod-slide-link {
  @include d-center;
  padding: size(20) size(80);
  box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.2);
  border-radius: size(47);
  border: 1px solid #c18300;
  background-color: $blue-title;
  color: #ffffff;
  font-family: $rubik;
  font-size: size(40);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(42);
  text-align: center;
  text-transform: uppercase;
  transition: color, background-color .5s;
  &:hover {
	color: $blue-title;
	background-color: #fff;
	transition: color, background-color .5s;
  }
}
.yith-wcwl-add-button span {
  display: none;
}
