/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (max-width: 1600px) {
  html{
	font-size: 20px;
  }
  .product-item-col {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
  .footer-main {
	padding-top: size(200);
  }
  #go-top {
	top: 2rem;
	bottom: unset;
  }
  .prod-slide-link-single {
	font-size: size(28);
	line-height: size(30);
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 85%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .search-section-back {
	button[type="submit"] {
	  margin-top: 1rem;
	}
  }
  .col-none {
	display: none;
  }
  .contact-img {
	display: none;
  }
  .col-md-9-mod {
	flex:  0 0 65%;
	max-width: 65%;
  }
  .product-item-col {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .mega-menu .mega-left ul li {
	width: 50%;
  }
  .mega-menu {
	top: 0;
	z-index: 999999999999;
	min-height: 100vh;
	overflow-y: auto;
  }
  .product-small-card picture {
	height: 150px;

	img {
	  max-height: 95%;
	  width: auto;
	}
  }
  .benefit-text {
	h1, h2 {
	  font-size: size(52);
	  line-height: size(50);
	}
	h3 {
	  @include base-title;
	}
	h4 {
	  font-size: size(43);
	  line-height: size(40);
	}
	h5 {
	  @include mid-text;
	}
	h6 {
	  font-size: size(33);
	  line-height: size(35);
	}
  }
  .serv-prod-col {
	margin-bottom: 2rem;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .tech-input {
	margin-top: 1rem;
  }
  .slider-image-banner {
	height: unset;
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 45%;
	}
  }
  .col-2-banners {
	margin-top: 1rem;
	padding: 0;
  }
  .slider-banner-block {
	.slick-prev, .slick-next {
	  right: 85%;
	}
  }
  .prod-items-row {
	padding-top: 2rem;
  }
  .col-serv-arrow, .col-search-arrow {
	&:before {
	  display: none;
	}
  }
  .shop-col-single {
	margin-top: 3rem;
  }
  .single-shop-wrap {
	width: 100%;
  }
  .row-no-wrap {
	flex-wrap: wrap;
  }
  .prod-slider-image {
	margin-top: 3rem;
  }
  .benefit-text {
	h1, h2 {
	  font-size: size(40);
	  line-height: size(42);
	}
	h3 {
	  @include mid-text;
	}
	h4 {
	  font-size: size(35);
	  line-height: size(36);
	}
	h5 {
	  font-size: size(32);
	  line-height: size(30);
	}
	h6 {
	  font-size: size(28);
	  line-height: size(30);
	}
  }
  .ben-block-title {
	@include mid-text;
  }
  .mega-menu .mega-top {
	margin-bottom: 10px;

	ul {
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin-top: 10px;

	  li {
		width: calc(50% - 3px);
		margin: 0;
		margin-bottom: 4px;

		a {
		  font-size: size(16);
		}
	  }
	}
  }
  .mega-menu .mega-left ul {
	justify-content: space-between;

	li {
	  width: calc(50% - 5px);
	}
  }
  .search-wrap {
	top: 0;
	height: 100vh;
	z-index: 9999999999999;
	padding: 10px;

	.product-small-card {
	  margin-bottom: 10px;
	}
  }
  .mobile-search-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: #fff;
	padding-bottom: 4px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .search-query-result {
	margin-top: 70px;
  }
  .col-md-9-mod {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .mega-menu-btn {
	padding: 15px;
  }
  .header-tel span.text {
	display: none;
  }
  .map-col {
	margin-top: 2rem;
  }
  .top-nav-container.sticky {
	padding-top: 2.5rem;
  }
  .add-to-cart-single-item {
	form {
	  flex-wrap: wrap;
	}
  }
  .product-summary .qty-wrap {
	margin-right: 0;
  }
  .woocommerce div.product form.cart .button {
	margin-bottom: 5px;
  }

  .hamburger {
	display: flex;
	position: fixed;
	right: 0;
	top: 0;
	width: 50px;
	opacity: 1;
	height: 50px;
	z-index: 999999;
	transition: all 0.5s;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	margin-left: 0 !important;
  }
  .menu-btn-txt {
	display: none !important;
  }
  .top-navigation-menu {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: calc(100% - 70px);
	transition: all .5s;
	transform: translate(100%);
	background: #F5F1ED;
	z-index: 9999999;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	padding: 5px;

	li {
	  border-bottom: 1px solid #DAD2BC;
	  text-align: right;

	  a {
		text-align: right;
	  }
	}

	.menu-item-has-children {
	  svg {
		width: 40px;
		height: 40px;
		left: 10px;
		border: 1px solid #DAD2BC;
		border-top: 0;
		border-bottom: none;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99999999;

		&:before {
		  transition: all .5s;
		  transform: rotate(0);
		}
	  }

	  .sub-menu {
		position: relative !important;
		height: 0;
		overflow: hidden;
		pointer-events: all !important;
	  }

	  &.mob-sub-active {
		.sub-menu {
		  height: auto;
		  background: #F5F1ED !important;

		  li {
			border: none;
			position: relative;

			&:after {
			  content: "";
			  position: absolute;
			  right: 22px;
			  top: 0;
			  width: 1px;
			  height: 100%;
			  background: #DAD2BC;
			}

			&:before {
			  content: "";
			  position: absolute;
			  right: 22px;
			  top: 20px;
			  width: 10px;
			  height: 1px;
			  background: #DAD2BC;
			}
		  }
		}
	  }

	  &.mob-sub-active {
		.sub-menu {
		  height: auto;
		  opacity: 1 !important;

		  li {
			padding-right: 25px;
		  }
		}

		i {
		  &:before {
			transform: rotate(180deg);
		  }
		}
	  }
	}

	ul {
	  flex-direction: column;
	}

	&.menu-active {
	  transform: translate(0);
	  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .mega-menu .mega-right{
	border: none;
  }
  .tel-col {
	display: none;
  }
  .header-tel-fixed {
	display: flex;
  }
  .header-tel {
	span {
	  display: none;
	}
	img {
	  display: block;
	}
  }
  .top-arrow-wrap {
	width: size(70);
	height: size(70);
	img {
	  width: size(40);
	}
  }

  .top-button-text {
	font-size: size(16);
	line-height: size(20);
  }
  .block-text {
	h2 {
	  @include mid-text;
	}
	h3 {
	  font-size: size(36);
	  line-height: size(38);
	}
	h4 {
	  font-size: size(33);
	  line-height: size(35);
	}
	h5 {
	  font-size: size(28);
	  line-height: size(30);
	}
	h6 {
	  font-size: size(25);
	  line-height: size(30);
	}
	p {
	  @include base-text;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .product-item-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .slider-text-wrap {
	padding: 0 0 0 1rem;
  }
  .slider-wrap-col {
	margin-bottom: 3rem;
  }
  .prod-slide-title {
	font-size: size(35);
	line-height: size(40);
  }
  .prod-slide-link {
	@include d-center;
	padding: size(10) size(50);
	border-radius: size(37);
	font-size: size(30);
	line-height: size(32);
  }
  .arrows-slider.prod-arrows {
	padding: 0;
	margin-bottom: 3rem;
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 3rem);
	  left: unset;
	}
	[dir="rtl"] .slick-next{
	  left: calc(50% - 3rem);
	}
  }
  .order-content {
	order: -1;
  }
  .age-input {
	margin-top: 1rem;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .foo-link {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .contact-form {
	div.wpcf7 input[type="submit"] {
	  font-size: size(25);
	  line-height: size(28);
	}
  }
  .slider-banner-block {
	.slick-prev, .slick-next {
	  right: 75%;
	}
  }
}
