//@import "fontawesome";
@import "bootstrap_app";
@import "../plugins/slick/slick";
@import "../plugins/slick/slick-theme";
@import "../plugins/lightbox/src/css/lightbox";
@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "menu";
@import "hover";
@import "hamburger";
@import "aos";
@import "forms";
@import "header-footer";

body{
  font-family: 'heebo', sans-serif;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.base-text {
  @include base-text;
}
#MainNav{
  ul{
    display: flex;
    height: 100%;
    li{
      height: 85%;
      a{

      }
    }
  }
}
#sidebar{
  margin-top: 67px;
}
.sidebar-box{
  overflow: hidden;
  box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.2);
  &:first-child{
	border-radius: 10px 10px 0 0;
  }
  &:last-child{
	border-radius: 0 0 10px 10px;
  }
  .box-title{
	background-color: $blue-title;
	padding: size(20) 0;
	display: flex;
	align-items: center;
	justify-content: center;
	h6{
	  color: #ffffff;
	  font-family: $rubik;
	  font-size: size(24);
	  font-weight: 500;
	  margin-bottom: 0;
	}
  }
  .box-content{
	padding: size(10) size(15);
  }
}
#brand-search{
  border-radius: 5px;
  border: 1px solid $blue-title;
  background-color: #ffffff;
  width: 100%;
  height: 32px;
  margin-bottom: 15px;
  &::placeholder {
	color: #000000;
	font-family: $rubik;
	font-size: 16px;
	font-weight: 300;
	opacity: 0.5;
  }
}
.box-list{
  li{
	display: flex;
	align-items: flex-start;
	padding-right: 4px;
	label{
	  font-family: $rubik;
	  font-size: size(16);
	  margin-bottom: 0;
	  margin-right: 5px;
	}
  }
  input[type="checkbox"]{
	outline: 1px solid $blue-title;
	background-color: #ffffff;
	position: relative;
	top: 5px;
	min-width: 15px;
	min-height: 15px;
  }
}
.brand-list{
  height: 250px;
  overflow: auto;
  &.apply-search{
	li{
	  display: none;
	  &.show-brand{
		display: flex;
	  }
	}
  }
}
.price-field{
  width: 70px;
  text-align: center;
}
.ui-slider-horizontal .ui-slider-handle {
  border-radius: 50%;
  background-color: $blue-title !important;
  ////border: none;
  //width: 18px;
  //height: 18px;
  //display: flex;
}
//.ui-slider-handle {
//  border-radius: 50%;
//  background-color: $blue-title !important;
//  //border: none;
//  width: 18px;
//  height: 18px;
//  display: flex;
//}
.ui-slider-horizontal {
  height: 2px!important;
  background-color: #b7b7b7;
}
.ui-slider-horizontal .ui-slider-handle{
  top: -12px!important;
}
.prepend-filter{
  display: none;
}
.product-item-col{
  display: none;
  &.show-filter{
	display: block!important;
	&.price-filter{
	  display: none!important;
	}
  }
}
.inner-header{
  background-color: #f8f8f8;
  padding: size(30) 0;
  h1{
	text-align: right;
	color: $blue-title;
	font-family: $rubik;
	font-size: size(40);
	font-weight: 500;
	margin-bottom: 18px;
  }
}
.bottom-sticky-section{
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 50px;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.75);
  transform: translateY(100%);
  transition: transform .5s;
  &.sticky-bottom{
	transform: translateY(0);
  }
}
.woocommerce {
  .woocommerce-breadcrumb{
	color: #252525!important;
	a{
	  font-family: $rubik;
	  font-size: 0.9rem;
	  font-weight: 400;
	}
  }
}
.query-product-list{
  .product-small-card{
	.price ins span{
	  font-size: size(18);
	}
	.woocommerce-loop-product__title{
	  font-size: size(18);
	}
	picture{
	  height: auto;
	}
	.single_add_to_cart_button{
	  padding: 0;
	  background-color: $blue-title !important;
	  display: flex;
	  align-items: center;
	  font-weight: 500;
	  font-family: $rubik;
	  font-size: size(14);
	  border-radius: size(17);
	}
  }
  .price{
	margin-bottom: 10px;
  }
}
.col-md-9-mod{
  flex: 0 0 79%;
  max-width: 79%;
}
.woocommerce span.onsale{
  background: transparent!important;
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del{
  line-height: 1;
}
.woocommerce-result-count{
  color: #373637;
  font-family: $rubik;
  font-size: size(24);
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0!important;
}
.catalog-order{
  select{
	height: 47px;
	border-radius: 5px;
	border: 1px solid #222222;
	background-color: #ffffff;
	color: #373637;
	font-family: $rubik;
	font-size: size(24);
	font-weight: 300;
  }
}
.results-top{
  .woocommerce-pagination{
	ul{
	  border: 1px solid #222222!important;
	  border-radius: 5px;
	  li{
		border-color: #222222!important;
		a{
		  border: none;
		  color: #222222;
		}
	  }
	}
	.current{
	  background: transparent!important;
	  color: $blue-title !important;
	  font-weight: bold;
	}
	.page-numbers{
	  &.next, &.prev{
		transform: rotate(180deg);
	  }
	}
  }
}
.archive-header {
  box-shadow: none;
  background: #f8f8f8;
}
//Contact
.main-contact-form {
  position: relative;
  padding-bottom: size(50);
}
.contact-form {
  padding-top: size(90);
}
.contact-img {
  position: absolute;
  padding: 0 5%;
  top: size(80);
  right: 0;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  @include d-center;
}
.contact-text {
  margin-bottom: size(30);
  * {
	text-align: center;
	color: #2b2a2a;
  }
  p {
	font-family: $rubik;
	font-size: size(30);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(36);
  }
  h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
  h2 {
	font-size: size(45);
	font-style: normal;
	letter-spacing: normal;
	line-height: size(46);
  }
  h3 {
	font-size: size(40);
	line-height: size(42);
  }
  h4 {
	font-size: size(36);
	line-height: size(38);
  }
  h5 {
	font-size: size(32);
	line-height: size(34);
  }
  h6 {
	font-size: size(30);
	line-height: size(32);
  }
}
//Contact form page (contacts)
.contacts-block {
  box-shadow: 0 0 57px rgba(0, 0, 0, 0.15);
  border-radius: size(10);
  background-color: #ffffff;
  padding-top: size(30);
  padding-bottom: size(30);
}
.contacts-block-title {
  @include base-title;
  color: #222222;
  font-weight: 400;
  text-align: center;
  margin-bottom: size(35);
}
.contact-items-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: size(20);
  img, .geo-wrap {
	width: size(50);
	min-width: size(50);
	margin-left: 15px;
  }
  &:hover .base-text-contact {
	color: $blue-title;
	transition: color .5s;
  }
}
.geo-wrap {
  @include d-center;
  background-color: $blue-title;
  border-radius: 50%;
  padding: 5px;
  height: size(50);
  svg * {
	fill: #fff;
  }
  svg {
	width: size(26);
  }
}
.map-img {
  width: 100%;
  border-radius: size(10);
}
.base-text-contact {
  @include base-text;
  font-family: $rubik;
  color: $foo-text;
  transition: color .5s;
}
.client-logo-wrap {
  @include d-center;
  background-color: #e1e1e1;
  box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.2);
  border-radius: 50%;
  width: size(90);
  height: size(90);
  margin-bottom: 1rem;
  img {
	border-radius: 50%;
  }
}
.contact-clients-block {
  margin: size(100) 0;
}
//Basic styles
.block-text {
  margin-bottom: size(25);
  * {
	text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-title;
	font-weight: 700;
	margin-bottom: 10px;
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(46);
	line-height: size(44);
  }
  h4 {
	font-size: size(43);
	line-height: size(40);
  }
  h5 {
	font-size: size(40);
	line-height: size(40);
  }
  h6 {
	@include mid-text;
  }
  p {
	@include mid-text;
	color: #171219;
  }
}
//IMPORT STYLESHEET FOR PRODUCT
@import "product";
//Slider
.base-output-slider {
  h1, h2 {
	color: $blue-title;
	font-weight: 700;
	margin-bottom: 10px;
  }
  h3, h4, h5, h6 {
	font-weight: 400;
	color: #292929;
	margin-bottom: size(15);
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(40);
	line-height: size(42);
  }
  h4 {
	font-size: size(34);
	line-height: size(36);
  }
  h5 {
	font-size: size(30);
	line-height: size(30);
  }
  h6 {
	font-size: size(26);
	line-height: size(28);
  }
  p {
	font-size: size(22);
	line-height: size(30);
	color: #292929;
	font-weight: 300;
  }
  margin-bottom: 1rem;
}
//Slider
.slider-text-wrap {
  position: relative;
  background-color: #ffffff;
  padding: 2rem;
}
.slider-img {
  width: 100%;
}
.arrows-slider {
  &.prod-arrows {
	padding: 0 3rem;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(58);
	height: size(58);
	box-shadow: 3px 4px 30px 2px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: #ffffff;
	z-index: 33;
	background-repeat: no-repeat;
	background-size: size(42);
	background-position: center;
	cursor: pointer;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
	right: -3rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/slider-arrow-left.png");
	left: -3rem;
  }
}
.slider-base-wrap {
  margin: size(100) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
	left: 3.5rem;
	right: unset;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/slider-arrow-left.png");
	left: 0;
  }
}
//Homepage
.home-main-block {
  position: relative;
  @include back-img;
}
.home-main-overlay {
  width: 100%;
  height: 100%;
  padding: size(250) 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.home-small-title {
  color: #faf8f8;
  font-size: size(34);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
  margin-bottom: size(14);
}
.home-big-title {
  color: #faf8f8;
  font-size: size(72);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  margin-bottom: size(20);
}
.pad-70 {
  padding: size(70) 0;
}
.col-serv-arrow {
  position: relative;
  &:before {
	position: absolute;
	right: -5rem;
	max-width: size(107);
	top: 0;
	content: url("../img/dotted-arrow-down.png");
  }
}
.col-search-arrow {
  position: relative;
  &:before {
	position: absolute;
	left: -5rem;
	max-width: size(107);
	bottom: 0;
	content: url("../img/dotted-arrow-top.png");
  }
}
.serv-prod-col:first-child {
  .serv-prod-wrap {
	background-color: #00aeea;
  }
}
.serv-prod-col:nth-child(2n) {
  .serv-prod-wrap {
	background-color: $green-main;
	.row-serv-reverse {
	  flex-direction: row-reverse;
	}
  }
}
.prod-items-row {
  padding-top: size(100);
}
.serv-prod-wrap {
  height: 100%;
  box-shadow: 4px 7px 17px 1px rgba(0, 0, 0, 0.31);
  border-radius: 35px;
  padding: size(30) size(30) 0 size(30);
}
.benefits-slider-block {
  box-shadow: 6px 16px 48px 14px rgba(43, 40, 40, 0.2);
  border-radius: size(35);
  background-color: #ffffff;
  padding: size(60) 8%;
  background-image: url("../img/benefits-block-line.png");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.ben-block-title {
  color: #221f1f;
  @include base-title;
  font-weight: 300;
  margin-bottom: 20px;
}
.numbered-slider {
  margin-top: 4rem;
  margin-bottom: 10rem;
  .slick-dots {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: size(55);
	padding: size(25);
	background-image: linear-gradient(-183deg, #283891 0%, #394db9 100%);
	bottom: 0;
	li {
	  position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: size(49);
	  height: size(49);
	  border-radius: 50%;
	  background-color: transparent;
	  border: 3px solid #ffffff;
	  margin: 0 10px;
	  &.slick-active {
		background-color: $green-main;
	  }
	  a {
		color: #ffffff;
		font-size: size(19);
		font-weight: 500;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(17);
		text-align: center;
	  }
	}
	li:last-child:after {
	  display: none;
	}
  }
}
.benefit-text {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: $blue-title;
  }
  h1, h2 {
	font-size: size(72);
	line-height: size(70);
  }
  h3 {
	font-size: size(65);
	line-height: size(70);
  }
  h4 {
	font-size: size(60);
	line-height: size(60);
  }
  h5 {
	font-size: size(55);
	line-height: size(50);
  }
  h6 {
	@include base-title;
  }
  p {
	color: #212020;
	font-size: size(21);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(36);
  }
  margin-bottom: 9rem;
}
.col-hide-benefits {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.home-slider-products {
  margin-top: size(80);
}
//Courses homepage
.courses-block-text {
  margin-bottom: size(50);
  h1, h2 {
	color: $blue-title;
	font-weight: 700;
	margin-bottom: 10px;
  }
  h2 {
	@include base-title;
  }
  h3 {
	@include mid-text;
  }
  h4 {
	font-size: size(35);
	line-height: size(40);
  }
  h5 {
	font-size: size(30);
	line-height: size(34);
  }
  h6 {
	font-size: size(25);
	line-height: size(24);
  }
  p {
	color: #000204;
	@include base-text;
  }
  h3, h4, h5, h6 {
	color: #000204;
	font-weight: 300;
	margin-bottom: size(15);
  }
}
.base-link {
  min-width: size(280);
  min-height: size(56);
  box-shadow: 3px 4px 30px 2px rgba(0, 0, 0, 0.1);
  border-radius: size(28);
  background-color: $blue-main;
  @include d-center;
  text-align: center;
  color: #ffffff;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  background-image: url("../iconsall/form-submit.png");
  background-position: 3px center;
  background-size: size(43);
  background-repeat: no-repeat;
  padding: 5px size(60);
  transition: transform .5s;
  margin-top: size(25);
  &:hover {
	color: #fff;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.base-link-small {
  min-width: unset;
  min-height: size(45);
  box-shadow: 0 0 57px rgba(0, 0, 0, 0.15);
  border-radius: size(22);
  @include d-center;
  font-size: size(28);
  line-height: size(28);
  background-size: size(32);
  padding: 5px size(30) 5px size(61);
  margin-top: 0;
  margin-bottom: 1rem;
}
.gveret-title {
  font-family: 'Gveret', sans-serif;
  color: #ffffff;
  font-size: size(20);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  text-align: center;
  margin-bottom: 5px;
}
.item-title-serv {
  color: #ffffff;
  font-size: size(42);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(45);
  text-align: center;
  margin-bottom: size(14);
}
.courses-block {
  margin: size(80) 0;
}
.course-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: size(35);
  background-color: #ffffff;
  transition: box-shadow .5s;
  height: 100%;
  &:hover {
	box-shadow: unset;
	transition: box-shadow .5s;
  }
}
.course-item-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 62%;
  }
}
.course-title {
  margin: size(20);
  color: #000000;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
}
.row-no-wrap {
  flex-wrap: nowrap;
}
.custom-products-block {
  overflow-x: hidden;
}

//Gallery page
.main-gallery {
  margin: size(100) 0;
}
.gallery-item {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: size(25);
  background-color: #e6e5e5;
  &:after {
	content: '';
	display: block;
	padding-bottom: 65%;
  }
}
//Post page
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-shadow: 1px 6px 140px 7px rgba(0, 0, 0, 0.1);
  border-radius: size(15);
  background-color: #ffffff;
  padding: size(19);
}
.post-link {
  @include d-center;
  height: size(31);
  border-radius: 15px;
  background-color: $blue-main;
  border: 1px solid $blue-main;
  color: #ffffff;
  font-size: size(14);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(15);
  text-align: center;
  padding: 5px size(22);
  margin-top: size(20);
  align-self: flex-end;
  transition: color, background-color .5s;
  &:hover {
	color: $blue-main;
	background-color: transparent;
	transition: color, background-color .5s;
  }
}
.post-item-title {
  color: #000000;
  font-size: size(26);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  margin-bottom: 9px;
  transition: color .5s;
  &:hover {
	color: $blue-title;
	transition: color .5s;
  }
}
.post-item-text {
  color: #525050;
  font-size: size(13);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(14);
}
.post-image {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: size(15);
  background-color: #f7f3f3;
  margin-bottom: size(25);
  &:after {
	content: '';
	display: block;
	padding-bottom: 80%;
  }
}
.post-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.posts-same-block {
  margin: size(100) 0;
}
.same-posts-title {
  color: #373637;
  font-family: $rubik;
  font-size: size(36);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
  margin-bottom: size(50);
}
//post gallery
.post-gallery-img {
  @include d-center;
  padding: 10px;
  width: 100%;
  box-shadow: 7px 11px 18px 3px rgba(0, 0, 0, 0.23);
  border-radius: size(15);
  background-color: #ffffff;
}
.gallery-img-inside {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: size(15);
  background-color: #515055;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.shop-col-single {
  display: flex;
  justify-content: flex-end;
}
.single-shop-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #00aeea;
  box-shadow: 7px 11px 18px 3px rgba(0, 0, 0, 0.23);
  padding-top: size(180);
  width: 90%;
  border-radius: 5px;
  padding-right: size(30);
  padding-left: size(30);
}
.post-text-output {
  h1, h2, h3, h4, h5, h6 {
	color: #222222;
	font-family: $rubik;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	margin-bottom: size(25);
  }
  h2 {
	font-size: size(36);
	line-height: size(30);
  }
  h3 {
	font-size: size(32);
	line-height: size(30);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(26);
  }
  h6 {
	font-size: size(22);
	line-height: size(20);
  }
  p, li {
	color: #444040;
	font-size: size(21);
	line-height: size(23);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
  }
  p {
	margin-bottom: size(30);
  }
  ul {
	list-style: disc;
	margin: 1rem 1rem 1rem 0;
  }
}
.post-files-block {
  margin: size(50) 0;
}
.post-links-title {
  color: #222222;
  font-family: $rubik;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  font-size: size(36);
  line-height: size(30);
  margin-bottom: size(35);
}
.post-file-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: size(67);
  min-height: size(54);
  box-shadow: 5px 9px 16px 3px rgba(0, 0, 0, 0.08);
  border-radius: 26px 27px 27px 26px;
  background-color: #ffffff;
  background-image: url("../iconsall/form-file.png");
  background-position: calc(100% - 9px) 3px;
  background-repeat: no-repeat;
  background-size: size(47);
  margin-bottom: size(20);
  color: #393635;
  font-size: size(19);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  transition: color .5s;
  &:hover {
	color: $blue-title;
	transition: color .5s;
  }
}
.thumb-post-wrap {
  width: 100%;
  box-shadow: 7px 11px 18px 3px rgba(0, 0, 0, 0.23);
  border-radius: size(15);
  background-color: #ffffff;
  @include d-center;
  padding: 10px;
  margin-bottom: size(38);
  img {
	border-radius: size(15);
	width: 100%;
  }
}
.post-body {
  padding: size(30) 0;
}
.prod-slide-link-single {
  @include d-center;
  min-height: size(75);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: size(38);
  border: 2px solid #ffffff;
  background-color: $blue-title;
  margin-bottom: size(80);
  padding: size(15) size(51);
  color: #ffffff;
  font-family: $rubik;
  font-size: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  transition: transform .5s;
  &:hover {
	color: #ffffff;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.search-section-back {
  @include d-center;
  padding: size(20);
  box-shadow: 0 5px 12px 1px rgba(146, 145, 145, 0.42);
  border-radius: size(46);
  background-color: #ffffff;
  margin-bottom: size(30);
  .form-group {
	margin-bottom: 0;
	padding: 0 2px;
  }
  form {
	@include d-center;
	width: 100%;
  }
  select {
	-webkit-appearance: none;
	height: size(53);
	border-radius: size(26);
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	color: #000000;
	font-size: size(23);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
	padding: 3px size(25) 3px size(30);
	background-size: size(14);
	background-position: 8px center;
	background-repeat: no-repeat;
	background-image: url("../iconsall/form-select.png");
  }
  button[type="submit"] {
	width: 100%;
	height: size(53);
	border-radius: size(26);
	border: 1px solid #e1e1e1;
	background-color: #24aae0;
	color: #ffffff;
	font-size: size(23);
	text-align: center;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
	background-image: url("../iconsall/search-form.png");
	background-position: calc(100% - 3px);
	background-repeat: no-repeat;
	background-size: size(43);
  }
}
//Slider with banners
.slide-banner-item {
  padding: 3rem;
}
.first-banner-wrap {
  border-radius: size(35);
  background-color: $blue-main;
  img {
	width: 100%;
  }
}
.slider-image-banner {
  width: 100%;
  height: calc(50% - 10px);
  @include back-img;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.21);
  border-radius: size(35);
  background-color: #ffffff;
  margin-bottom: 10px;
  &:last-child {
	margin-bottom: 0;
  }
}
.slider-banner-block {
  .slick-prev, .slick-next {
	width: size(24);
	height: size(24);
	z-index: 353;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	right: 46%;
	left: unset;
	top: unset;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  .slick-prev {
	background-image: url("../iconsall/banner-slider-bottom.png");
	bottom: 4rem;
  }
  .slick-next{
	background-image: url("../iconsall/banner-slider-top.png");
	bottom: 6rem;
  }
}

@import "responsive";
